{% extends "base.html" %}
{% block title %}Contact{% endblock title %}
{% block extended %}
<style>
td:last-child { padding-top: 10px; text-align: right}
td {
  padding-bottom: 0px;
}
</style>
{% endblock extended %}
{% block content %}
<h2>Contact Me</h2>
<p>I can't guarantee I'll get right back to you, but I read my emails. If you want to reach me
  directly, you can always DM me on twitter: <a href="http://twitter.com/ornumental">@ornumental</a></p>
<form action="." method="post">
	{% csrf_token %}
	<table>
	  <tr>
  	  <th>
        <label for="id_name">Your Name:</label>
      </th>
      <td>
        {{ form.name }}
      </td>
      <td>
        {% if form.name.errors %}
          {{ form.name.errors }}
        {% endif %}
      </td>      
    </tr>
	  <tr>
  	  <th>
        <label for="id_email">Your Email:</label>
      </th>
      <td>
        {{ form.email }}
      </td>
      <td>
        {% if form.email.errors %}
          {{ form.email.errors }}
        {% endif %}
      </td>      
    </tr>
	  <tr>
  	  <th>
        <label for="id_body">Talk to me:</label>
      </th>
      <td>
        {{ form.body }}
      </td>
      <td>
        {% if form.body.errors %}
          {{ form.body.errors }}
        {% endif %}
      </td>
    </tr>    
    <tr>
      <th></th>
      <td>
        <input type="submit" value="Send Email" />
      </td>
    </tr>
</table>
</form>
{% endblock content %}